@model int

@{
    ViewData["Title"] = "Agregar Detalle";
}

<h1 class="text-center my-4 text-danger">@ViewData["Title"]</h1>

<section class="d-flex justify-content-center align-items-center" style="min-height: 70vh;">
    <article class="border rounded p-5 shadow-sm bg-light text-center" style="width: 400px;">
        <p>¿Desea agregar un detalle?</p>
        <form asp-controller="Presupuesto" asp-action="CreateDetalle" method="post">
            <input type="hidden" asp-for="@Model" />
            <input type="hidden" name="idPresupuesto" value="@Model" />

            <section class="form-group">
                <label>Id Producto</label>
                <input type="number" name="idProducto" class="form-control-sm" />
            </section>

            <section class="form-group">
                <label>Cantidad</label>
                <input type="number" name="cantidad" class="form-control-sm" />
            </section>
        </form>
    </article>
</section>